.main{
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
}

.searchForm{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
    border-bottom: 1px solid #dadada;
}
.searchForm .icon{
    font-size: 1.4rem;
}
.searchForm input{
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: none;
    font-size: 0.9rem;
    color: #b0acac;
    font-style: italic;
}

.searchForm input::placeholder{
    color: #b0acac;
}

.results{
    /* margin-top: 5vmin; */
    padding: 0 10vmin;
    height: 80vh;
    overflow-y: auto;
}
.movieBox{
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 25px;
}
.left{
    width: 15%;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.right{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 20px;
    width: 85%;
}
.right h2{
    font-weight: 600;
}
.right p{
    margin-bottom:  20px;
    opacity: .6;
}
.right small{
    font-size: 1.2vmax;
}